@page
@model hakimslivs.Pages.Admin.OrderManager.DetailsModel

@{
    ViewData["Title"] = "Detaljer";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order #
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ID)
        </dd>
        <dt class="col-sm-2">
            Orderdatum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            Betalningsstatus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentOk)
        </dd>
        <dt class="col-sm-2">
           Orderstatus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus.OrderStatusName)
        </dd>
    </dl>
    <table class="table text-center">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Kvantitet
            </th>
            <th>
                Pris/st
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var iq in Model.ItemQuantityList) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => iq.Item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => iq.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => iq.Item.Price)
                </td>
                <td>
                    @(iq.Item.Price * iq.Quantity)
                </td>
            </tr>
        }
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                @Model.Total
            </td>
        </tr>
    </tbody>
</table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.ID">Redigera</a> |
    <a asp-page="./Index">Tillbaka</a>
</div>
