@page
@model hakimslivs.Pages.Admin.ProductManager.IndexModel

@{
    ViewData["Title"] = "Sortiment";
}
<div class="container">
    <div class="row">
        <partial name="_SideBarPartial" />
        <div class="justify-content-center col-10">
            <h1 class="title">@ViewData["Title"]</h1>

            <p>
                <a asp-page="Create" class="btn btn-primary">Skapa ny produkt</a>
            </p>

            <div class="product-manager-container">

                @foreach (var item in Model.Item)
                {


                    <div class="card text-center product-manager">
                        @{
                            string stockIcon = "";
                            @if (item.Stock >= 10)
                            {
                                stockIcon = "🟢";
                            }
                            else if (item.Stock < 10 && item.Stock > 0)
                            {
                                stockIcon = "🟡";
                            }
                            else
                            {
                                stockIcon = "🔴";
                            }
                        }

                        <img class="card-img" src="@item.ImageURL" alt="Product image">
                        <h3>@Html.DisplayFor(modelItem => item.Product)</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Kategori</th>
                                    <th>Pris</th>
                                    <th>Lagersaldo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @if (String.IsNullOrEmpty(item.Category.ToString()))
                                        {
                                            <p class="na">Ingen</p>
                                        }
                                        else
                                        {
                                            <a href="#">@item.Category.ToString()</a>
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)kr</td>
                                    <td>@Html.DisplayFor(modelItem => item.Stock)st <span class="stockIcon">@stockIcon</span></td>
                                </tr>

                            </tbody>
                        </table>

                        @if (String.IsNullOrEmpty(item.Description))
                        {
                            <p class="na">Ingen beskrivning tillgänglig</p>
                        }
                        else
                        {
                            <p class="na">@item.Description</p>
                        }
                        <span class="justify-content-center">
                            <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary">Redigera</a>
                            <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">Ta bort</a>
                        </span>
                    </div>

                }
            </div>
        </div>
    </div>
</div>